html, body{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	
}

body{
	background-color: #ff0000;
	font-family: 'Roboto', sans-serif;
}

#contenido{
	width: 100%;
	height: auto;
	display: flex;
	/*margin: 0 auto;*/
}

#formulario{
	width: 30%;

	margin: auto;
	display: block;
	flex-direction: column;
	border-radius: 3px;

	align-items: center;
	
}

h3{
	margin-left: 13px;
	padding-top: 10px;
	color: rgb(255, 0, 0);
}

hr{
	margin: 0px 13px;
}

input{
	width: 95%;
	height: 25px;
	font-size: 12px;
	padding: 10px;
	margin: 10px 14px 10px;
	border-radius: 5px;
	border: solid 1px #B5C5D3;
	box-sizing: border-box;
}

input[type="submit"]{
	background: #2B669A;
	color: #fff;
	margin-bottom: 20px;
}

.mostrar{
	background-color: #5DB75D;
	width: 80%;
	margin-bottom: 25px;
	padding: 10px;
	color: #fff;
}